<!-- Note -->
<div style="background:yellow;padding:5px">
  <h4 style="text-align:center">Resize the browser window to see the responsive effect.</h4>
</div>

<!-- Header -->
<div class="header">
  <h1>CEDAR Messages</h1>
  <p>With a <b>flexible</b> layout.</p>
</div>

<!-- Navigation Bar -->
<div class="navbar">
  <a href="#">Inbox</a>
  <a href="#">Trash</a>
  <a href="#">System messages</a>
  |
  <a href="#">New message</a>
</div>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    <h2>Inbox</h2>
    <div class="fakeimg" style="height:60px;">Message 1 Subject</div><br>
    <div class="fakeimg" style="height:60px;">Message 2 Subject</div><br>
    <div class="fakeimg" style="height:60px;">Message 3 Subject</div>
  </div>
  <div class="main">
    <h2>Message 3 Subject</h2>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <h2>Footer</h2>
</div>
